**/api_key.txt
**/bin/
**/obj/
**/Debug/
**/Release/
.vs/
.idea/
*.user
*.suo
.DS_Store
Thumbs.db
*.log
pycache/
*.pyc
*.apk
*.ipa
*.app/
*.xcworkspace/
*.xcuserstate
*.xcuserdata/
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser

